
.tech-tree-view{
    display: flex;
    flex-direction: column;
    background-color: var(--lumo-primary-color-10pct);
    flex-grow: 1;
}

.tech-tree-main-container{
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar content content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    flex: 1 1 0;
    padding-bottom: 10px;
    overflow-y: auto;
}

.tech-tree-top-bar{
    height: 70px;
    display: flex;
    z-index: 1;
    flex-direction: row;
    background-color: white;
    align-items: center;
    border-top: 3px dashed var(--lumo-primary-color);
    box-shadow: 0px 1px 5px 0 gray;
    overflow-x: auto;
    grid-area: header;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.tech-tree-container{
    grid-area: content;
    border-radius: 10px;
    margin-right: 10px;
    overflow: auto;
    box-shadow: 0px 1px 5px 0 gray;
}

.tech-tree-y-scroller{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.tech-tree-sidebar-collapsed{
    width: 0px;
    overflow-y: hidden;
}

.tech-tree-sidebar-expanded{
    width: 300px;
    padding: 10px;
    overflow-y: auto;
}

.tech-tree-civ-info-layout{
    z-index: 1;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: black;
    box-shadow: 3px 0 4px -2px gray, -3px 0 4px -2px gray;
    border-radius: 10px;
    overflow-x: hidden;
    margin-left: 10px;
    transition: width 0.2s ease-out;
}

.tech-tree-civ-name{
    font-size: 20px;
    font-weight: bold;
    align-text: center;
}


.tech-tree-civ-info-text > ul{
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.tech-tree-civ-info-text > ul> br{
    display: block;
    margin-bottom: 5px;
}


.tech-tree-top-bar-shortcut-layout{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    gap: 10px;

}

.tech-tree-top-bar-shortcut-layout > label{
    font-weight: bold;
}

.tech-tree-shortcut-image{
    width: 50px;
    height: 50px;
    border: 3px solid var(--lumo-primary-color);
    cursor: pointer;
}

.tech-tree-age-container{
    width: auto;
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    box-shadow: 3px 0 4px -2px gray, -3px 0 4px -2px gray;
}

.tech-tree-age-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 0;
    align-items: center;
}


.tech-tree-age-section{
    display: flex;
    flex-direction: column;
}


.tech-tree-shield-layout{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;

}

.tech-tree-shield-image{
    object-fit: contain;
}

.tech-tree-shield-name{
    text-align: center;
    font-weight: bold;
    white-space: pre-line;
    color: black;
}

.tech-tree-legend-layout{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 10px;
}

.tech-tree-legend-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tech-tree-legend-box{
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

.tech-tree-legend-text{
    font-weight: 600;
}

.tech-tree-dark-background{
    background-color: #E4FDE4;
}

.tech-tree-feudal-background{
    background-color: #FFF7E6;
}

.tech-tree-castle-background{
    background-color: #FFE6E6;
}

.tech-tree-imperial-background{
    background-color: #E5EAFB;
}


.tech-tree-loading-view{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lumo-primary-color-10pct);
    padding: 15px;
}

.tech-tree-loader-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 0 4px -2px gray, -3px 0 4px -2px gray;
    border-radius: 10px;
    background-color: white;
    flex-grow: 1;
    gap: 10px;
}

.tech-tree-loading-text{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


.tech-tree-loader{
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid var(--lumo-primary-color);
      width: 200px;
      height: 200px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}